body {
    font-family: Roboto;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
.section-1,
.section-2,
.section-3,
.section-4,
.copyright {
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
    padding-left: 80px;
    padding-right: 80px;
}

header,
.section-1,
.copyright,
.hero-button,
.signup-button {
    background-color: #1F2937;
    color: #F9FAF8;
}

/* header,
.section-1 {
    width: 800px;

} */

.section-3 {
    background-color: #E5E7Eb;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.s4-box,
.hero-button,
.signup-button {
    background-color: #3882F6;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext,
.header-links,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    flex: auto;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.menu-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


.section-2 {
    flex-direction: column;
    align-items: center;
}
.s2-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.s2-img-list {
    list-style-type: none;
    display: flex;
    gap: 25px;
    text-align: center;
    width: 705px;
}

.s2-img-list li {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.s2-img-list img {
    flex: auto;
    max-width: 150px;
    max-height: 150px;
    border: 4px solid #3882F6;
    border-radius: 12px;
}

.s2-img-list p {
    text-align: center;
    font-size: 14px;
}

.s4-box {
    border-radius: 12px;
    margin: 80px 80px 80px 80px;
    padding: 25px 80px 25px 80px;
    width: 800px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-between;
}

.s4-box p {
    margin: 0;
}

.signup-button {
    border: 1px solid white;
    align-self: flex-end;
    border-radius: 6px;
}

