* {
    font-family: Roboto;
    margin: 0px;
}

.header,
.section-1,
.copyright,
.hero-button,
.signup-button {
    background-color: #1F2937;
    color: #F9FAF8;
}

.section-3 {
    background-color: #E5E7Eb;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.s4-box,
.hero-button,
.signup-button {
    background-color: #3882F6;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext,
.header-links,
.footer {
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.signup-button {
    border: 1px solid white;
}

.s2-header {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}
